<div class="container d-flex">
    <div class="row">
        <h3 class="justify-content-center">You must install MetaMask to continue</h3>
        <a class="btn btn-primary justify-content-center p-3" href="https://metamask.io/download.html">Download MetaMask</a>
    </div>
</div>