<footer class="bg_white py-20">
	<div class="container px-xl-0">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-auto text-xl-left logo_holder">
				<a href="index.html">
					<img class="header__logo" id="logo_js"
						src="theme-assets/img/logos/Logo.svg" alt="logo">
				</a>
			</div>
			<div class="col-lg-auto semibold links bottom0menu">
				<a href="mailto:creabik@gmail.com" class="link color_text">Support</a>
				<a href="https://themeforest.net/user/creabik" class="link
					color_text">Creabik Team</a>
			</div>
		</div>
	</div>
</footer>