<div class="container-fluid py-5" style="height: 500px;">
    <div class="row" style="height: 100%;min-height: 100%;max-height: 100%;">
        <div class="col align-self-center" style="text-align: center;">
            <div><span class="spinner-grow textprimary text-primary" role="status" style="width: 80px;height: 80px;"></span></div>
        </div>
    </div>
</div>