 <div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 35px;">
            <div class="card shadow" style="border-radius: 15px;">
                <div class="card-body" style="text-align: center;">
				    <img src="https://i.ytimg.com/vi/cMKrcQem0QQ/maxresdefault.jpg" class="img-fluid" style="background: var(--bs-gray-dark);">
                    <h1 class="card-title">Nothing to see here</h1>
                    <h2 class="text-muted card-subtitle mb-2">@Text</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }
}