@page "/login"

@inject MetaMaskService _metaMaskService
@inject NavigationManager _navManager

@using MetaMask.Blazor
@using MetaMask.Blazor.Enums
@using Nethereum.Hex
@using Nethereum.ABI
@using Nethereum.Contracts;
@using System.Numerics
@using Nethereum.ABI.FunctionEncoding;

@if(HasMetaMask)
{
    @if (!IsConnected)
    {
        <div class="row p-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-primary text-center">
                <p>Please connect your MetaMask to continue</p>
                <p>If the button below doesn't work, please ensure you're logged into MetaMask</p>
                <button class="btn btn-info btn-large align-self-center" @onclick="SignInWithMetaMask">Sign In With MetaMask</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
}
else
{
    <div class="row p-5">
         <div class="col-md-3"></div>
        <div class="col-md-6 text-primary text-center">
            <h2 class="text-primary text-center">Install the MetaMask extension to sign in with your MetaMask account</h2>
            <a href="https://metamask.io/download" class="text-center btn btn-primary">Download MetaMask</a>
        </div>
        <div class="col-md-3"></div>
    </div>
}

@code {

    public bool HasMetaMask { get; set; }
    public bool IsConnected { get; set; }
    public Chain? Chain { get; set; }


    public delegate void LoggedInDelegate(string address);
    public static LoggedInDelegate LoggedIn;

    protected override async Task OnInitializedAsync()
    {
        HasMetaMask = await _metaMaskService.HasMetaMask();
        if (HasMetaMask)
        {
            await _metaMaskService.ListenToEvents();
        }

        IsConnected = await _metaMaskService.IsSiteConnected();

        if(IsConnected)
        {
            _navManager.NavigateTo("/account");
        }
    }

    private async void SignInWithMetaMask()
    {
        await _metaMaskService.ConnectMetaMask();
        IsConnected = true;
        var address = await _metaMaskService.GetSelectedAddress();
        LoggedIn(address);
        _navManager.NavigateTo("/account");
    }
}