@page "/MyWatches"

@using Microsoft.AspNetCore.Components.Forms

@inject NftClientService _nftClient
@inject IContractInteractionService _contractService
@inject NavigationManager _navManager

@if(_isLoading)
{
    <LoadingPage/>
}
else
{
<div class="row" style="text-align: center;margin-top: 10px;">
        
    @if (AllNFTs.Count > 0)
    {
        for (int i = 0; i < AllNFTs.Count; i++)
        {
            var tokenId = AllNFTs[i];
            <WatchNftComponent TokenId="@tokenId"></WatchNftComponent>
        }
    }
    else
    {
        <NoResults Text="You don't have any watches yet!"/>
    }
</div>
}
@code{
    public List<string>  AllNFTs = new List<string>();

    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        if (await _nftClient.TransactionHandler.IsSiteConnected())
        {
            var address = await _nftClient.TransactionHandler.GetSelectedAddress();
            AllNFTs = await _contractService.GetAllNfts(address);
            _isLoading = false;
            StateHasChanged();
        }
        else
        {
            _navManager.NavigateTo("/login");
        }
    }

}